@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<div class="container">
    @using (Html.BeginForm("Checkout", "Checkout", FormMethod.Post, null))
    {
        <div class="form-group">
            <div style="margin:2px 0px">
                <label for="name" class="col-sm-2 control-label">Họ và tên</label>
                <div class="">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Nhập họ và tên">
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <div style="margin:2px 0px">
                <label for="phone_number" class="col-sm-2 control-label">Số điện thoại</label>
                <div class="">
                    <input type="text" class="form-control" name="phone_number" id="phone_number" placeholder="Nhập số  điện thoại">
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <div style="margin:2px 0px">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Nhập Email">
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <div style="margin:2px 0px">
                <label for="address" class="col-sm-2 control-label">Địa chỉ</label>
                <div class="">
                    <input type="text" class="form-control" name="address" id="address" placeholder="Nhập địa chỉ">
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <div style="margin:2px 0px">
                <div class="d-flex justify-content-center">
                    <center>
                        <button type="submit" class="btn btn-primary">Đặt hàng</button>
                    </center>
                </div>
            </div>
        </div>
        <br />
    }
</div>

@{
    if (ViewBag.Error != null)
    {
        <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
    }
}