
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}



<div style="display:flex;flex-direction:column; align-items:center;justify-content:center">
    <img src="~/wwwroot/images/icon_mat_cuoi.png" alt="Alternate Text"  />
    <div style="display:flex;">
        <h4>Thanh toán thành công <a href="@Url.Action("Index","Home")">Tiếp tục mua sắm</a></h4>
    </div>
</div>