@model NongSanShop.Models.dh_user

@{
    ViewBag.Title = "Tài khoản";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid" style="text-align:center;">
    <h3>
        Bạn có chắc chắn muốn xóa không?
    </h3>
    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Xóa" class="btn btn-danger" /> |
                @Html.ActionLink("Quay lại", "Index")
            </div>
        }
    </div>
</div>
