@model NongSanShop.Models.dh_cart

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}


<div style="width:100%;text-align:center">
    <h3>Bạn có chăc chắn xóa không @Html.DisplayFor(model => model.dh_product.name)</h3>
    <div style="margin:5px 0px">
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-primary" /> 
                <span>
                    <a href='@Url.Action("Index","UserCart", null)' class="btn btn-danger">Quay lại</a>
                </span>
            </div>
        }
    </div>
</div>
